<!DOCTYPE html>
<html lang="fa">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>قالب مدیریتی Gramos</title>

    <!-- begin::global styles -->
    <link rel="stylesheet" href="{% static 'vendors/bundle.css' %}" type="text/css">
    <!-- end::global styles -->

    <!-- begin::custom styles -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css">
    <!-- end::custom styles -->

	<!-- begin::favicon -->
	<link rel="shortcut icon" href="{% static 'media/image/favicon.png' %}">
	<!-- end::favicon -->

	<!-- begin::theme color -->
	<meta name="theme-color" content="#3f51b5" />
	<!-- end::theme color -->

</head>
<body class="bg-white h-100-vh p-t-0">

<!-- begin::page loader-->
<div class="page-loader">
    <div class="spinner-border"></div>
    <span>در حال بارگذاری ...</span>
</div>
<!-- end::page loader -->

<div class="container h-100-vh">
    <div class="row align-items-center h-100-vh">
        <div class="col-lg-6 d-none d-lg-block p-t-b-25">
            <img class="img-fluid" src="{% static 'media/svg/register.svg' %}" alt="...">
        </div>
        <div class="col-lg-4 offset-lg-1 p-t-25 p-b-10">
            <h3>ثبت نام</h3>
            <p>ایجاد حساب کاربری جدید</p>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group mb-4">
                    <input type="text" name="username" class="form-control form-control-lg" autofocus placeholder="نام کاربری">
                </div>
                <div class="form-group mb-4">
                    <input type="email" name="email" class="form-control form-control-lg" placeholder="ایمیل">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <input type="password" name="password1" class="form-control form-control-lg" placeholder="رمز عبور">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <input type="password" name="password2" class="form-control form-control-lg" placeholder="تکرار رمز عبور">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch" checked>
                        <label class="custom-control-label" for="customSwitch">با قوانین و مقررات موافقم.</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">ایجاد حساب</button>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="text-left">
                    <a href="{% url 'login' %}" class="text-underline">حساب کاربری دارید؟</a>
                </p>
            </form>
        </div>
    </div>
</div>
</body>

<!-- begin::global scripts -->
<script src="{% static 'vendors/bundle.js' %}"></script>
<!-- end::global scripts -->

<!-- begin::custom scripts -->
<script src="{% static 'js/app.js' %}"></script>
<!-- end::custom scripts -->


</html>