{% extends 'main.html' %}

{% block title %}
    Reset-Password
{% endblock %}

{% block content %}
<main class="main-content">

    <div class="container-fluid">

        <!-- begin::page header -->
        <div class="page-header">
            <div>
                <h3>تغییر پسورد</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">تغییر پسورد</h5>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputPassword1">رمز عبور فعلی</label>
                                <input type="password" name="old-password" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور">

                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">رمز عبور جدید</label>
                                <input type="password" name="new-password1" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">تکرار رمز عبور جدید</label>
                                <input type="password" name="new-password2" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور">
                            </div>
                            <button type="submit" class="btn btn-primary">ثبت</button>
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}

                                    {% if message.tags == "success" %}
                                        <li style="color: lightgreen">{{ message }}</li>
                                    {% else %}
                                        <li style="color: red;">{{ message }}</li>
                                    {% endif %}

                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</main>


{% endblock %}