<!DOCTYPE html>
<html lang="fa">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Home{% endblock %}</title>

    <!-- begin::global styles -->
    <link rel="stylesheet" href="{% static 'vendors/bundle.css' %}" type="text/css">
    <!-- end::global styles -->

    <link rel="stylesheet" href="{% static 'vendors/swiper/swiper.min.css' %}">

    <!-- begin::custom styles -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <!-- end::custom styles -->

    <!-- begin::favicon -->
    <link rel="shortcut icon" href="{% static 'media/image/favicon.png' %}">
    <!-- end::favicon -->

    <!-- begin::theme color -->
    <meta name="theme-color" content="#3f51b5"/>
    <!-- end::theme color -->

    {% block css %}
    {% endblock %}

</head>
<body>

<!-- begin::page loader-->
<div class="page-loader">
    <div class="spinner-border"></div>
    <span>در حال بارگذاری ...</span>
</div>
<!-- end::page loader -->


<!-- begin::side menu -->
{% include 'sidemenu.html' %}
<!-- end::side menu -->

<!-- begin::navbar -->
{% include 'navbar.html' %}
<!-- end::navbar -->

<!-- begin::main content -->
{% block content %}
{% endblock %}
<!-- end::main content -->

<!-- begin::global scripts -->
<script src="{% static 'vendors/bundle.js' %}"></script>
<!-- end::global scripts -->

{% block script %}
{% endblock %}

<!-- begin::swiper -->
<script src="{% static 'vendors/swiper/swiper.min.js' %}"></script>
<script src="{% static 'js/examples/swiper.js' %}"></script>
<!-- end::swiper -->

<!-- begin::custom scripts -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<!-- end::custom scripts -->

</body>
</html>